
<div id="missions" style=" background-color: #a2a19f">
<!--Navigation bar-->
<app-nav-template></app-nav-template>

<div class="container col-md-12 mb-4 white-text text-center" >
  <h5 class="text-center ministry-content">
    GLOBAL MISSIONARIES

    Jesus Said To Go. He taught us to leave our comfort zones and cross barriers like mountains, oceans, and streets.
    He commissioned us to reach across the aisle, culture, social class and political borders. He asks that we overcome
    the divisions of, language, colour and creed, to share the good news. We are committed to go when called, give when
    prompted and pray always to fulfill our responsibility to him.

    Internationally, we support the Global Workers associated with the Pentecostal Assemblies of Canada through our
    international office.  We are also to associated with Jim and Marion Harris inThailand and claleb and Miki Bennett
    with Aroma Church in Taiwan. With special ties to our Haiti and El-Salvador Teams


    LOCAL MISSIONARY WORK

    Locally we are supporting ministries that are making a difference in the lives of others. We are pleased to offer
    volunteers to, the Salvation Army,The Island Pregnancy Crisis Centre, Solomon's Porch, Bible for Missions and
    Birthright PEI. We support  Solomon's Porch, Birthright and the Pregnancy Centre financially . Since the closure of
    Grandmother's House,(the only shelter for women on PEI),women from Calvary have been reaching out to the former
    clients with a weekly event called Beautiful Night.

    OUTREACH
    Visitation Outreach


    It has only been  one year, but this outreach initiative  is expanding greatly. It is a mission for Calvary outside
    the walls, where some of  home congregation visit some with of church family facing some challenging health
    concerns and although the road to recovery is sometimes long, the outcomes have been good.
    We have also expanded our visit is to those who are sometimes on the outer circle when we view the connectivity to
    the church. We have began to take visits into non-traditional places,
    like visits to young mothers and long-term care facilities.

    Come join us and we take Calvary outside the walls.

    Overcomers Outreach


    Overcomers Outreach is bridge between 12 groups and the church . A Christ-centered, non-profit corporation
    dedicated to reaching out to people with problems, with addiction, compulsion or codependency within Churches of
    all denominations. A ministry providing Christian resources, education through written materials, and tools to
    initiate and maintain 12- steps support groups. The Overcomers purpose is to praise the Lord, to study God's word
    relating to the 12 steps of Alcoholics Anonymous and relevant subjects, to share with one another in strictest
    confidence and to pray specifically for one another's needs

  </h5>
</div>
<!--Footer-->
<app-footer-template> </app-footer-template>
</div>
