<app-nav-template></app-nav-template>
<div class="parallax parallax-image container4" [ngStyle]="{'background-image': getUrl(),
'min-height': '450px' }" >
  <div >
    <h4  style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
      What we believe</h4>
  </div>
</div>

<p class="default-font" style="font-weight: bold; margin-top: 5px; font-size: 25px">
Our Beliefs
</p>

<hr>

<div>
  <p class="default-font" style="font-size: 25px">
<b>We believe:</b>
<br><br>
<b>The Bible</b> is the real and true Word of God. Although some parts require deep research and wisdom to understand,
we believe it is without error and that every part is included for a reason (2 Tim 3:16, 17; 2 Peter 1:20,21; Psalm 119:160).
<br><br>
<b>There is one God</b> who has existed for all of time as the three people of the Trinity –
the Father, the Son, and the Holy Spirit (Matt 28:18, 19; 2 Cor 13:14).
<br><br>
<b>Jesus Christ</b> is the Son of God who was born of a virgin and lived a perfect, sinless life.
He was crucified so that humanity could experience forgiveness and freedom and rose to life after three days!
After His resurrection He ascended to heaven and is now seated at the right hand of the Father until He returns again for His church (1 Peter 2:22).
<br><br>
<b>Salvation</b> is for all people. Because Jesus paid the ultimate price for our sins when He died on the cross,
anyone who asks for forgiveness of their sins can receive it. He paid the price, so salvation is free for those who
recognize and confess that Jesus is Lord. Anyone who repents and believes in Jesus is given the gift of eternal life (Rom 4:25; 2 Cor 5:17,18).
<br><br>
<b>In doing our best</b> to live as much like Jesus as we possibly can. We rely on the presence of the Holy Spirit in our
lives to teach us and develop our character (2 Cor 7:1).
<br><br>
<b>The Baptism of the Holy Spirit</b> is still available for the church today, just as we read about in Acts 2:4.
This Spirit baptism empowers and equips believers to continue the ministry of Jesus with boldness and authority and
they operate in spiritual gifts that point people towards a clearer understanding of God (Acts 1:8; 2:4; Gal 5:22, 23; 1 Cor 12-14).
<br><br>
<b>Water baptism</b> is a public statement to others that you’re choosing to let your old life go and allowing God to make you new.
It is a symbolic and obedient act that an individual chooses when they are old enough to make their own decisions,
that they have buried their old life and have been born again (Matt 28:19; Acts 2:38).
<br><br>
<b>The Lord’s Supper</b>, also called communion, is an ordinance that symbolizes the death and resurrection of Christ.
We eat a cracker and drink grape juice to remind us of the death and resurrection of Jesus (1 Cor 11:23-26).
<br><br>
<b>Eternity</b> will be determined for all people when they have to give an account for their life spent on earth.
Those who have chosen to follow Jesus will spend an eternity with God in Heaven, and those who do not believe will
spend eternity separated from Him (1 Thess 4:13-18; Rev 20:11-15).
  </p>
</div>

<div style="justify-content: center; width: 100%; display: flex;">
  <img [src]=pngImage  height="25%" width="15%" >
</div>
<app-footer-template></app-footer-template>

