<app-nav-template></app-nav-template>
<div class="default-font" style="font-size: 25px;  background-color: #d5d4d4;">
  <div style="margin-left: 15px">
    <p>
      Happy New Year Church!
      <br>
      <br>
      This New Year of 2022, we wish Gods best for you! We look forward to ministry
      opportunities coming up for our church, both within and beyond the walls of the
      building; within and beyond our community and our province.
      <br>
      The challenges we currently face in this global pandemic will be met with committed and creative
      initiatives to share the gospel in effective ways.
      <br>
      Presently, the Covid requirements put in place by the CPHO have been extended until January 17.
      <br>
      As such, we have adjusted our protocols in order for us to meet for in-person ministry, including Sunday services.
      <br>
      Please note that the following protocols will be in place until, at least, January 17th.
    </p>
    <br>
    <ul>
      <li>
        There will be a maximum of 50 people permitted to attend any service or ministry.
      </li>

      <br>

      <li>
        Masks must remain on at all times, including while seated and singing.
      </li>

      <br>

      <li>
        Distancing of 6 feet (2 meters) must be maintained between households/close social groups.
      </li>

      <br>

      <li>
        Childrens ministries (Kids Church and nursery) will not be provided during services
        at this point. We will have activity sheets available for kids in-service. The nursery
        will be open for parents who need to nurse or change babies as needed.
      </li>

      <br>

    </ul>

    These are significant steps being taken for the health of individuals in light of the
    Omicron variant. We are thankful for the opportunity to return to meeting for regular
    church services.
    <br>
    We understand that some are looking forward to gather together while others will choose to limit contact with others
    by not attending.
    Either approach is personal, valid, and affirmed.
    <br>
    We will continue to make the services available on our YouTube channel for those not in attendance.
    <br>
    We appreciate your ongoing prayerful support as we minister together in these days.

    <br> <br>
    Trusting God Together,
    <br> <br>
    Pastors Phil, Brodie, and Calvary Church Board.
    <br>
    <p style="font-size: 18px">Updated January 4th, 2022. </p>
  </div>

</div>


<app-footer-template></app-footer-template>
