<app-nav-template></app-nav-template>
<div class="default-font" style="font-size: 25px;  background-color: #d5d4d4;">
  <p>
    Greetings church!
    <br>
    We want you to be aware of our response to the announced changes to Covid
    Requirements as outlined by the CPHO.
  </p>
  <br>
  <ul>
    <li>
      Masks must remain on at all times, including while seated and singing.
    </li>
    <br>
    <li>
      Distancing of 6 feet (2 meters) must be maintained between households.
      *Please note, this no longer includes close contacts, but household
      members only. Also, this is now a legal requirement and not merely
      a recommendation.
    </li>
    <br>
    <li>
      Childrens ministries (Kids Church and nursery) will not be provided during services
      at this point. We will have activity sheets available for kids in-service. The nursery
      will be open for parents who need to nurse or change babies as needed, but it will
      not be staffed by volunteers.
    </li>
    <br>
    <li>
      We will be strictly enforcing our maximum capacity of 100 attendees, including
      children over the age of 2.
    </li>
    <br>
    <li>
      The Christmas Celebration event, scheduled to take place tomorrow night, is
      cancelled.
    </li>
  </ul>

  These are significant steps being taken for the health of individuals in light of the
  Omicron variant. We are blessed to be able to continue meeting for regular church
  services. Taking these steps in cooperation with provincial leadership enables us to
  continue gathering for worship in the safest possible manner. We appreciate your
  ongoing prayerful support as we minister together in these days.

  <br> <br>
  Trusting God Together,
  <br>  <br>
  Pastors Phil, Brodie, and Calvary Church Board.

</div>


<app-footer-template></app-footer-template>
