<app-nav-template></app-nav-template>
<div class="default-font" style="font-size: 25px;  background-color: #d5d4d4;">
  <div style="margin-left: 15px">
    <p>
      Hello Church!
      <br>
      <br>
      We are pleased to see that we are getting closer to that time where all Covid
      restrictions will be lifted. Until then, we must continue to wear masks in the church at
      all times, and practice physical distancing where able.
      <br>
      We will adhere to these requirements established by the CPHO for just a few more weeks.
      <br>
      Following this we are anticipating a gathering in April once all masking and distancing
      requirements are lifted, as individuals are comfortable. We look forward to a celebration and coming
      together over a meal at this time!
      <br>
      Let us please be in prayer for our ministry opportunities here in our church, our
      community, and around the world.
      <br>
      This pandemic does not stop the great commission from being carried out to the Glory of God!

    <br> <br>
    Trusting God Together,
    <br> <br>
    Pastors Phil, Brodie, and Calvary Church Board.
    <br>
    <p style="font-size: 18px">Updated March 23rd, 2022. </p>
  </div>

</div>


<app-footer-template></app-footer-template>
