<footer>
  <div>
    <a href="https://www.instagram.com/calvarychurchcharlottetown/" class="fab fa-instagram social " style="color: #6b301f"></a>
    <a href="https://www.youtube.com/channel/UCtTB3rkY93r89inJKLRkhUg" class="fab fa-youtube social " style="color: #9b0025"></a>
    <a href="https://www.facebook.com/calvarychurchcharlottetown"class="fab fa-facebook social" style="color: #1a42cc"></a>
  </div>
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer-item">Our Ministries</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/ministries" style="color: #1f3d86">Family Ministry</a>
          </li>
          <li>
            <a routerLink="/ministries" style="color: #1f3d86">Youth & Young Adults Ministry</a>
          </li>
          <li>
            <a routerLink="/ministries" style="color:#1f3d86">Adult Ministries</a>
          </li>
          <li>
            <a routerLink="/ministries" style="color:#1f3d86">Missionary and Outreach</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer-item">About Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#" style="color: #1f3d86" >Who We Are</a>
          </li>
          <li>
            <a href="#" style="color: #1f3d86">What We Believe</a>
          </li>
          <li>
            <a href="#" style="color: #1f3d86"> Our Staff</a>
          </li>
        </ul>

      </div>


      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer-item">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <i class="fas fa-envelope" style="color: #61605e"></i>
            <a href="mailto:info@calvarycharlottetown.com" style="color: #1f3d86"> info@calvarycharlottetown.com</a>
          </li>
          <li>
            <i class="fas fa-phone" style="color: #61605e"></i>
            <a href="tel:+1(902)3681226" style="color:#1f3d86"> +1 (902) 368-1226</a>
          </li>

          <li>
            <i class="fas fa-map-marker" style="color: #61605e"></i>
            <a href ="https://www.google.com/maps/dir/46.2402813,-63.1248074/46.266793,-63.1493961/@46.2524077,-63.1539543,14z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0"
               style="color: #1f3d86">
              9 Capital Drive, Charlottetown
              Prince Edward Island, C1A 7M4
            </a>
        </ul>

      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 footer-item" style ="font-size: 13px" >© 2020 Copyright:
    <a href="#" style = "color:#61605E" > Calvary Church Incoporated</a>
  </div>
</footer>
