<nav class="navbar navbar-light navbar-expand-md bg-light  justify-content-start sticky-top">
    <!-- Brand/logo -->

    <a class="navbar-brand logo" routerLink="/home">
        <img [src]="logoImage" alt="logo" style="width:50px;">
        Calvary Church
    </a>
    <button class="navbar-toggler right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon right"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mx-auto text-md-center text-justify ">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ministries">Ministries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services">Services</a>

            <li class="nav-item">
                <a class="nav-link" href="https://calvarypei.online.church/">Watch</a>
            </li>
        </ul>
    </div>
</nav>
