

<div id="media" class="parallax parallax-image container4" [ngStyle]="{'background-image': getUrl()}" >
  <div >
    <h4  style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
      Prayer</h4>
  </div>
</div>
<div class="container col-md-12 mb-4" >
  <p class="default-font" style="font-weight: bold; margin-top: 5px; font-size: 25px ">
    Calvary Prayer Unit
  </p>
  <p class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 25px">
    Our heavenly Father is always seeking for men and women to stand in the gap (Ezekiel 22:30).
    As a unit we desire to see the glorious power of God through the Holy Spirit manifest in our church through
    intercessory prayers.
  </p>

  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6"> Learn more</button>
  <div id="demo6" class="collapse">
    <p class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 20px">
      Also, our focus is to see the kingdom of God manifest in the life of every member and family of Calvary church
      as well as in the communities through collective and individual prayers. We do meet every Monday of the week
      from 6:00-7:00p.m. for our weekly intercessory prayers, on Sunday for pre-service prayers (8:30 a.m.)
      and monthly for an end of the month prayer meeting. We invite you to join us as we pray effectively (James 5:16)
      in faith (Hebrew 11:6) until something happen (Hosea 10:12).
      </p>
  </div>

</div>


