

<div id="family" class="parallax parallax-image container4" [ngStyle]="{'background-image': getUrl()}" >
  <div >
    <h4  style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
      Family</h4>
  </div>
</div>
<div class="container col-md-12 mb-4" >
  <p class ="default-font" style="font-weight: bold; margin-top: 5px; font-size: 25px;">
    Family Ministries
  </p>
  <p class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 25px">
    The Calvary Church Family Ministry (CCFM) is an intergenerational family-equipping ministry focused on building stronger households through
    family/parental programs, and by empowering our families to learn, worship and serve together.
    </p>

  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1"> Learn more</button>
  <div id="demo1" class="collapse">
    <p class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 20px">
      Under the guidance of the Holy Spirit, the vision of CCFM is to reflect
      wholeness in our church’s family units, to equip parents to disciple and take spiritual leadership in their homes,
      as well as to foster better relationships within and between the families at Calvary Church,
      essentially extending Calvary beyond our church walls.
      </p>
  </div>

</div>


