<div style=" background-color: #a2a19f">
  <!--Navigation bar-->
  <app-nav-template></app-nav-template>
  <div style="height: 500px">
    <img [src]="yaImage" alt="Church Picture" style="width: 100%; height: 100%">
  </div>

  <div class="container col-md-12 mb-4 white-text text-center" >
    <!--<h4 style="font-size: 70px; font-family: 'Homemade Apple', cursive;font-family: 'Quantico', sans-serif;">-->
    <!--  Escape Youth</h4>-->
    <hr>
    <h5 class="text-center ministry-content">
      Young Adults is a  group of college and career aged individuals in our congregation that get together and <br>
      connect with each other.<br>
      The most lasting friendships are formed during these years and we strive to create an environment <br>
      to facilitate those friendships within a safe, faith based place.<br>
      OUR FOCUS is Journeying together with and with God and proclaiming the Work and message of <br>
      Christ's love and helping others discover their purpose in life as well.<br>

      If you have any questions or would like to be plugged in to this ministry,<br>
      reach out to the youth team.</h5>
  </div>
  <!--Footer-->
  <app-footer-template> </app-footer-template>
</div>
