
<div id="youngAdults" class="parallax parallax-image container4" [ngStyle]="{'background-image': getUrl()}" >
  <div >
    <h4  style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
      Young Adults</h4>
  </div>
</div>
  <div class="container col-md-12 mb-4" >
    <h4 style=" font-family: 'Indie Flower', cursive; font-weight: bold; margin-top: 5px ">
      Young Adults
    </h4>

    <h4 class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 25px">
      Young Adults is a  group of college and career aged individuals in our congregation that get together and
      connect with each other.<br>
    </h4>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> Learn more</button>
    <div id="demo" class="collapse">
    <h4 class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 20px">
      The most lasting friendships are formed during these years and we strive to create an environment
      to facilitate those friendships within a safe, faith based place.<br>
      OUR FOCUS is Journeying together with others and with God proclaiming the Work and message of
      Christ's love and helping others discover their purpose in life as well.<br>
    </h4>
    </div>
  </div>


