

<div id="media" class="parallax parallax-image container4" [ngStyle]="{'background-image': getUrl()}" >
  <div >
    <h4  style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
      Media</h4>
  </div>
</div>
<div class="container col-md-12 mb-4" >
  <p class="default-font" style="font-weight: bold; margin-top: 5px; font-size: 25px ">
    Media
  </p>
  <p class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 25px">
    The purpose of the Media Ministry at Calvary Church is to carry the Gospel of Jesus Christ
    to our visually-driven, ever-changing world through the use of accessible technology and
    media
  </p>

  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5"> Learn more</button>
  <div id="demo5" class="collapse">
    <p class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 20px">
      It is also an avenue to equip other units of ministries of the church to use digital and
      electronic media as a worship and outreach tool. By this we are aiming to enhance the
      worship experience, communicating with the congregation, extending the congregation
      beyond the walls of the church, and with this propagating the Kingdom of our LORD and
      his Christ.</p>
  </div>

</div>


