<!--Navigation bar-->
<app-nav-template></app-nav-template>
<div style="background-color: white">

  <div class="parallax parallax-image container4" [ngStyle]="{'background-image': getUrl()}" >
    <div >
         <h4  style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
      Ministries</h4>
  </div>
  </div>
<div class="container col-md-12 mb-4 text-center">
  <h5 class="text-center ministry-content" style="margin-top: 5px; margin-bottom: 5px">
    We have a mandate to see the Kingdom of God expand through our ministries here at Calvary<br>
    all for the glory, renown and fame of our King, Jesus</h5>
</div>

</div>
<app-family></app-family>

<app-young-adults></app-young-adults>

<app-youth></app-youth>

<app-media></app-media>

<app-mission-intro></app-mission-intro>
<!--Footer-->
<app-footer-template> </app-footer-template>
