

<div class="parallax parallax-image container4" [ngStyle]="{'background-image': getUrl()}" >
  <div >
    <h4  style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
      Family</h4>
  </div>
</div>
<div class="container col-md-12 mb-4" >
  <h4 style=" font-family: 'Indie Flower', cursive; font-weight: bold; margin-top: 5px ">
    Family Ministries
  </h4>
  <h4 class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 25px">
    </h4>

  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> Learn more</button>
  <div id="demo" class="collapse">
    <h4 class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 20px">
      </h4>
  </div>

</div>


