
<div id="youngAdults" class="parallax parallax-image container4" [ngStyle]="{'background-image': getUrl()}" >
  <div >
    <h4  style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
      Missions And Outreach</h4>
  </div>
</div>
<div class="container col-md-12 mb-4" >
  <h4 style=" font-family: 'Indie Flower', cursive; font-weight: bold; margin-top: 5px ">
    Missions and Outreach
  </h4>


  <h4 class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 25px">
    Jesus Said To Go. He taught us to leave our comfort zones and cross barriers like mountains, oceans, and streets.
    He commissioned us to reach across the aisle, culture, social class and political borders.<br>
    He asks that we overcome the divisions of, language, colour and creed, to share the good news.
    We are committed to go when called, give when prompted and pray always to fulfill our responsibility to Him.<br>
  </h4>
  <hr>
  <h4 class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 20px">
   Follow the link below to learn more about the amazing things God is doing through our church.
  </h4>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> Learn more</button>

</div>


