/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Quantico:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Quantico:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.logo{
  font-family: 'Homemade Apple', cursive;
  font-family: 'Quantico', sans-serif;
}
.nav-link{
  font-family: 'Homemade Apple', cursive;
  font-family: 'Quantico', sans-serif;
  font-size:20px;
}
.carousel-inner img {
  min-height: 350px;
  min-width: 250px;
  width: 100%;
  height: 100%;
}
.welcome-image {
  background-image: url('/assets/img/charlottetown.jpg');
  background-color: #cccccc; /* Used if the image is unavailable */
  min-height: 750px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height : 100%
}
h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
.welcome-text{
  font-family: 'Indie Flower', cursive;
  color: #fafafe;
  font-weight: bolder;
}
.btn-format{
  font-family: 'Homemade Apple', cursive;
  font-family: 'Quantico', sans-serif;
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.parallax {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.social{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  text-align: center;
}

footer {

  padding: 3px;
  background-color: #dfe5ef;
  text-align: center;
}

.footer-item{
  color: rgba(97, 96, 94, 0.95);
}





.ministry-content{
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;

}
.parallax-image{
  background-color: #cccccc; /* Used if the image is unavailable */
 min-height: 250px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height : 100%
}
/* Centered text */

div.container4 {
  height: 10em;
  position: relative }
div.container4 h4 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
