
  <div class="d-none d-lg-block">
    <img [src]=images[0] style="height: 500px; width: 100% " >

  </div>

<!--Navigation bar-->

<app-nav-template></app-nav-template>

<!--Welcome image-->
<div class="welcome-image parallax">
  <div class="mask rgba-black-light align-items-center">
    <!-- Content -->
    <div class="container col-md-12 mb-4 white-text text-center" >
      <br>

      <h1 class="welcome-text" >Welcome To Calvary Church</h1>
      <h2 class ="welcome-text" style="margin-bottom: 70px">Church outside the walls; Church beyond the walls</h2>
      <div style="margin-bottom: 10px">

        <a href="https://calvarypei.churchcenter.com/people/forms/165700" data-open-in-church-center-modal="true"
           target="_blank"  class ="btn btn-info  btn-primary btn-lg  btn-responsive btn-format" style="margin-right: 3px">
          <i class="fas fa-pray"></i>
          Need Prayer?</a>

<!--        <a href="https://calvarypei.churchcenter.com/people/forms/165471" data-open-in-church-center-modal="true"-->
<!--           target="_blank"   class ="btn btn-info  btn-primary btn-lg  btn-responsive btn-format" style="margin-right: 3px">-->
<!--          <i class="fas fa-shopping-cart"></i>-->
<!--          Need help with Groceries/Errands?</a>-->

        <a href="https://calvarypei.churchcenter.com/people/forms/165711" data-open-in-church-center-modal="true"
           target="_blank" class ="btn btn-info  btn-primary btn-lg  btn-responsive btn-format" >
          <i class="fas fa-comment-medical"></i>
          Need someone to talk to?</a>
      </div>
      <div>
        <label>
          <h5 class = "welcome-text">Next Steps: </h5></label>
        <br>
        <a routerLink="/ministries"
           class="btn btn-info  btn-primary btn-lg  btn-responsive btn-format" style="margin-right: 3px">
          <i class="fas fa-link"></i>
          Get Connected</a>
        <a href="https://calvarypei.churchcenter.com/people/forms/165805" data-open-in-church-center-modal="true"
          target="_blank" class="btn btn-info  btn-primary btn-lg  btn-responsive btn-format">
          <i class="fas fa-sms"></i>
          Speak to a pastor about next steps</a>
      </div>

    </div>
  </div>

</div>

  <div id="missionIntro" class="parallax parallax-image container4" [ngStyle]="{'background-image': images[2]}" >
    <div >
      <h4 class="text-center" style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
        Warmest Night of The Year</h4>
    </div>
  </div>
  <div class="container col-md-12 mb-4" >
    <p class="default-font"style="font-weight: bold; margin-top: 5px; font-size: 25px">
      Warmest night of the year fundraising and Auction
    </p>


    <p class="ministry-content" style="margin-top: 10px; margin-bottom: 5px; line-height: 35px; font-size: 25px">
      The warmest Night of the Year is a fundraiser for the homeless shelters in PEI.<br>git pull
      We are particularly glad we are able to have your support in carrying out this wonderful mission to help others.<br>
      It is only through your generous support that this endeavor becomes successful.
      <br>
      <br>
      This fundraiser is also co-organized by the <a href="https://salvationarmy.ca/" target="_blank">Salvation Army.</a>
      <br>
      <br>
    Click <a href="https://www.biddingowl.com/WarmestNightoftheYear" target="_blank"> here</a>
    to participate in the fundraiser and auction.
    </p>
    <br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo32"> Read more on getting set up</button>
    <div id="demo32" class="collapse">
      <p class="ministry-content" style="margin-top: 5px; margin-bottom: 5px; line-height: 35px; font-size: 20px">
        To bid on items please follow the following steps:<br>

        Click 'Register' on the Home Page<br>

        Input information ( there is no financial information required to register)<br>

        Once you are registered click the 'Back to current Auction' button<br>

        Click the 'View Items' button in the left upper corner<br>

        Enter your bid and click the 'Bid' Button, Click OK<br>

        Find next item to bid on.<br>
      </p>
    </div>

  </div>



  <div style="background-color: white">

  <div class="parallax parallax-image container4" [ngStyle]="{'background-image': images[1]}" >
    <div >
      <h4  style="font-family: 'Indie Flower', cursive; font-size: 50px; color: white;">
       Worship with us</h4>
    </div>
  </div>
  <div class="container col-md-12 mb-4 text-center">
    <h5 class="text-center ministry-content" style="margin-top: 5px; margin-bottom: 5px">
     Join Us  </h5>

    <p class="ministry-content" style="font-size: 25px">
      Worship with us every Sunday morning by signing up for one of our two services.</p>
    <a href="https://www.eventbrite.ca/o/calvary-church-charlottetown-30659669808" target="_blank"
       class ="btn btn-info  btn-primary btn-sm  btn-responsive btn-format" >
      <i class="fas fa-pen"></i>
      Sign up here</a>

    <p class="ministry-content" style="font-size: 25px"> You can also watch our
      service online by joining us on our scheduled streaming times.
      Click the button to see our streaming times.
    </p>

    <a href="https://calvarypei.online.church/" target="_blank"
       class ="btn btn-info  btn-primary btn-sm  btn-responsive btn-format" >
      <i class="fas fa-camera"></i>
      Stream here</a>
<hr>
    <label>
      <p style="font-size: 25px">
        New to Calvary? Text <a [href]="sanitize(smsLinkWelcome)">"Welcome"</a> to +1(902) 200-1070
      </p>
    </label>
    <br>
    <label>
      <p style="font-size: 25px">
        Stay in the loop with updates by texting <a [href]="sanitize(smsLinkCalvary)">"Calvary"</a> to +1(902) 200-1070
      </p>
    </label>
  </div>

</div>

<!--Footer-->
<app-footer-template> </app-footer-template>






